<p>Meet Edwin</p>

<div>
        <img src="https://images.pexels.com/photos/1170986/pexels-photo-1170986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="photo-of-a-cat" >

        <p>Name : Edwin Roseblat</p>
        <p>Email : edwin@yahoo.com</p>
        <p>Address : 5th Avenue, Brooklyn</p>
        <p>Gender : Male</p>
        <p>Role : Product Engineer</p>
</div>