@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Roboto:wght@300;400;500&display=swap');

body {
    background-color: #eee;
    font-size: 2.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

.wrapper {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
}

img{
    height: 30rem; 
    width: 50%; 
    border: .5rem solid black;
}


header {
    background-color: ghostwhite;
    padding: 20px;
}

main {
    background-color: cornsilk;
    padding: 20px;
}


.layout-sidebar {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 2fr;
}